@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
p,
h1,
h3,
h2 {
  font-family: "Indie Flower", cursive;
}
.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Questo rende la navbar semi-trasparente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Aggiungi il box shadow */
}

.navbar__links {
  display: flex;
}

.navbar__links a {
  margin-right: 20px; /* Aggiunge uno spazio a destra tra i link */
  text-decoration: none;
  color: inherit;
}

.navbar__links a:hover {
  color: rgb(207, 185, 160);
}
/* SPINNER CARICAMNETO */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spinner img {
  animation: spin 1s linear infinite;
}

/*VIDEO PRINCIPALE HOMEPAGE*/

.background {
  position: relative;
  height: 100vh;
}

.background__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-size: 4vw;
}
/* LOGO */
/* Aggiungi ombra all'immagine */

.img-with-shadow {
  filter: drop-shadow(
    0px 0px 10px rgba(0, 0, 0, 2)
  ); /* Personalizza l'ombra secondo le tue preferenze, qui sotto per dare un colore preferito all'ombra */
}
/* .img-with-shadow {
  filter: drop-shadow(0px 0px 10px rgba(207, 185, 160, 1));
} */

/*caroselli*/

/* Per gli appartamenti */

/* Per il carosello illustrativo */
.illustrative-carousel .carousel-item {
  height: 400px; /* Modifica questa altezza come desideri */
  overflow: hidden;
}

.illustrative-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* roooooommmmmmmmmm */
/* LISTINO PREZZI  PAGINA ROOM */
/* Listino Prezzi */
.price-list {
  background-color: rgb(207, 185, 160);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.price-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.price-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.price-item p {
  font-size: 16px;
}

/* Room Card */
.custom-card {
  background-color: rgb(207, 185, 160);
  transition: transform 0.5s;
}

.custom-card-body,
.custom-card-footer {
  background-color: rgb(207, 185, 160);
}

.custom-card-row {
  margin-bottom: 4rem;
}

.custom-card-col {
  margin-bottom: 4rem;
}

.custom-card:hover {
  transform: scale(0.05); /* Light zoom effect on hover */
}

.custom-card-img {
  object-fit: contain;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
}

/* Carousels within Room Card */
.custom-carousel {
  max-height: 300px;
  overflow: hidden;
  border: 2px solid #85c1e9; /* Blu leggero */
}

.custom-carousel-item {
  height: 200px;
}

.custom-carousel-img {
  object-fit: cover;
  max-height: 200px;
}

/* Second Carousel (per il secondo appartamento, se lo desideri) */
.custom-card-col:nth-child(2) .custom-carousel {
  border-color: #f7dc6f; /* Giallo chiaro */
}

/* Third Carousel (per il terzo appartamento) */
.custom-card-col:nth-child(3) .custom-carousel {
  border-color: #18f06e; /* Verde chiaro */
}

/* Fourth Carousel (per il quarto appartamento) */
.custom-card-col:nth-child(4) .custom-carousel {
  border-color: red; /* Rosa chiaro */
}

/* Special styling for the last carousel */
.last-carousel {
  border: 2px solid #f1948a;
}

.last-carousel-img {
  object-fit: cover;
}

/* footerrrr */
.footer {
  background-color: rgb(207, 185, 160);
}

/* Shop */

/* Card */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
.card-img {
  height: 130px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

/* icone */
/* Stile di base per le icone */
.contact-icon {
  transition: color 0.3s ease; /* Aggiunge una transizione per un effetto fluido */
}

/* Stile delle icone durante l'hover */
.contact-icon:hover {
  color: rgb(207, 185, 160); /* Cambia il colore durante l'hover */
}

/* Carrello / Cart */

/* Contenitore principale del carrello */
.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Singolo elemento nel carrello */
.cart-item {
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Immagine dell'elemento nel carrello */
.cart-item-image {
  width: 100px;
  height: auto;
}

/* Dettagli dell'elemento nel carrello */
.cart-item-details {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

/* Prezzo */
.price {
  color: green;
}

/* Bottone di rimozione */
.remove-button {
  background-color: white;
  color: rgb(5, 5, 5);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: red;
  color: white;
}

/* Bottone di checkout */
.checkout-button {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.checkout-button:hover {
  background-color: darkblue;
}
