@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

p,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Questo rende la navbar semi-trasparente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Aggiungi il box shadow */
}

.navbar__links {
  display: flex;
}

.navbar__links a {
  margin-right: 20px; /* Aggiunge uno spazio a destra tra i link */
  text-decoration: none;
  color: inherit;
}

.navbar__links a:hover {
  color: rgb(207, 185, 160);
}

/* SPINNER CARICAMNETO */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spinner img {
  animation: spin 1s linear infinite;
}

/*VIDEO PRINCIPALE HOMEPAGE*/

.background {
  position: relative;
  height: 100vh;
}

.background__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-size: 4vw;
}
/* LOGO */
/* Aggiungi ombra all'immagine */

.img-with-shadow {
  filter: drop-shadow(
    0px 0px 10px rgba(0, 0, 0, 2)
  ); /* Personalizza l'ombra secondo le tue preferenze, qui sotto per dare un colore preferito all'ombra */
}
/* .img-with-shadow {
  filter: drop-shadow(0px 0px 10px rgba(207, 185, 160, 1));
} */

/* src/components/BoxLayout.css */

/* Stili generali per il contenitore delle immagini */

/* Specifiche colorazioni per ogni colonna */
.rectangle-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
}
.box-container {
  background-color: #e6dce6; /* Violetto pastello leggero */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  width: 220px;
  height: 520px;
  background-color: #6b8e23; /* Questo sarà sovrascritto dalle classi successive */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .color-1,
  .color-2,
  .color-3,
  .color-4,
  .color-5 {
    height: 300px; /* Riduci l'altezza per schermi di medie dimensioni */
  }
}

/* Media query per schermi con larghezza massima di 480px (es. smartphone) */
@media (max-width: 480px) {
  .color-1,
  .color-2,
  .color-3,
  .color-4,
  .color-5 {
    height: 220px; /* Riduci ulteriormente l'altezza per schermi piccoli */
  }
}
/* Colori pastello leggeri e meno saturi per un'atmosfera raffinata */
.color-1 {
  background-color: #a9c5a9; /* Verde pallido */
}
.color-2 {
  background-color: #a9bfc5; /* Blu-grigio pallido */
}
.color-3 {
  background-color: #c5a9ab; /* Rosso-terra pallido */
}
.color-4 {
  background-color: #c5c2a9; /* Verde-oliva pallido */
}
.color-5 {
  background-color: #c5b3a9; /* Beige pallido */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 20px;
}

/* Effetto sfalsato */
.color-1:hover {
  transform: translateY(-10px);
}
.color-2:hover {
  transform: translateY(-8px);
}
.color-3:hover {
  transform: translateY(-6px);
}
.color-4:hover {
  transform: translateY(-4px);
}
.color-5:hover {
  transform: translateY(-2px);
}

/* Ombra per effetto "elevazione" */
.color-1:hover,
.color-2:hover,
.color-3:hover,
.color-4:hover,
.color-5:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Immagini contenenti appartamentini in home page */
.rectangle-image {
  max-height: 120px; /* puoi modificare questo valore secondo le tue esigenze */
}

/* FINEEEE */
/*caroselli*/

/* Per gli appartamenti */

/* Per il carosello illustrativo */
.illustrative-carousel .carousel-item {
  height: 400px; /* Modifica questa altezza come desideri */
  overflow: hidden;
}

.illustrative-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAPPA PIE DI PAGINA+++++++++ +DGQERAFGH+WRTGH+GSF+HNJ+ETY+H */
.custom-map-container {
  border: 4px solid rgb(207, 185, 160); /* Colore blu di Bootstrap */
  border-radius: 5px;
  overflow: hidden; /* Assicura che la mappa rispetti il bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-icon {
  background-size: cover;
  border: 3px solid rgb(235, 21, 110); /* Bordo rosso */
  border-radius: 50% 50% 50% 0; /* Rende la parte superiore circolare e la parte inferiore piatta */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra leggera */
}

/* roooooommmmmmmmmm+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* LISTINO PREZZI  PAGINA ROOM */
/* Listino Prezzi */
.price-list {
  background-color: rgb(207, 185, 160);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.price-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.price-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.price-item p {
  font-size: 16px;
}

/* Room Card */
.custom-card {
  background-color: rgb(207, 185, 160);
  transition: transform 0.5s;
}

.custom-card-body,
.custom-card-footer {
  background-color: rgb(207, 185, 160);
}

.custom-card-row {
  margin-bottom: 4rem;
}

.custom-card-col {
  margin-bottom: 4rem;
}

.custom-card:hover {
  transform: scale(0.05); /* Light zoom effect on hover */
}

.custom-card-img {
  object-fit: contain;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
}

/* Carousels within Room Card */
/* Carousels within Room Card */
.custom-carousel {
  height: 300px;
  overflow: hidden;
  border: 2px solid #85c1e9;
  border-radius: 15px;
}

.custom-carousel-item {
  height: 300px;
}

.custom-carousel-img {
  object-fit: cover; /* Questa proprietà manterrà le proporzioni dell'immagine e la "taglierà" se supera le dimensioni del contenitore */
  height: 100%;
}

/* Second Carousel (per il secondo appartamento, se lo desideri) */
.custom-card-col:nth-child(2) .custom-carousel {
  border-color: #f7dc6f; /* Giallo chiaro */
}

/* Third Carousel (per il terzo appartamento) */
.custom-card-col:nth-child(3) .custom-carousel {
  border-color: #18f06e; /* Verde chiaro */
}

/* Fourth Carousel (per il quarto appartamento) */
.custom-card-col:nth-child(4) .custom-carousel {
  border-color: red; /* Rosa chiaro */
}

/* Special styling for the last carousel */
.last-carousel {
  border: 2px solid #f1948a;
}

.last-carousel-img {
  object-fit: cover;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* card room appartamentini refactor*/
/* card room appartamentini refactor */
.room-elegant-card {
  overflow: hidden;
  position: relative; /* Permette di posizionare il rettangolo del numero di persone */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.room-elegant-card :hover {
  background-color: rgb(207, 185, 160);
  color: white;
}
.room-elegant-card-image {
  height: 200px;
  object-fit: cover;
  position: relative;
}

.room-specific-people-count {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -600%);
  background-color: rgb(207, 185, 160);
  color: white;
  padding: 5px 10px; /* Regola il padding per dare più spazio al testo */
  font-size: 12px; /* Riduci leggermente la dimensione del font */
  z-index: 0;
  border-radius: 0; /* Rimuovi gli angoli arrotondati */
  white-space: nowrap; /* Impedisci al testo di andare a capo */
  text-align: center; /* Centra il testo orizzontalmente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Details room componente prenotazione */

/* footerrrr */
.footer {
  background-color: rgb(207, 185, 160);
}

/* Shop */

/* Card */
/* Styling base per la card dello shop */
.card-title h3,
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uniqueShopCard {
  width: 300px;
  height: 450px; /* Ad esempio, puoi regolare questa dimensione come desideri */
  transition: transform 0.3s;
  overflow: hidden; /* Continua a nascondere il contenuto in eccesso */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.uniqueShopCard .shop-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.uniqueShopCard .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.uniqueShopCard:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.9);
}
/* icone */
/* Stile di base per le icone */
.contact-icon {
  transition: color 0.3s ease; /* Aggiunge una transizione per un effetto fluido */
}

/* Stile delle icone durante l'hover */
.contact-icon:hover {
  color: rgb(207, 185, 160); /* Cambia il colore durante l'hover */
}

/* Carrello / Cart e Shop*/

/* Contenitore principale del carrello */
.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Singolo elemento nel carrello */
.cart-item {
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Immagine dell'elemento nel carrello */
.cart-item-image {
  width: 100px;
  height: auto;
}

/* Dettagli dell'elemento nel carrello */
.cart-item-details {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

/* Prezzo */
.price {
  color: green;
}

/* Bottone di rimozione */
.remove-button {
  background-color: white;
  color: rgb(5, 5, 5);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: red;
  color: white;
}

/* Bottone di checkout */
.checkout-button {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.checkout-button:hover {
  background-color: darkblue;
}

/* PAYPAL BUTTON*/
.paypal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid #0070ba; /* Blu PayPal */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paypal-logo {
  width: 100px;
  margin-bottom: 1rem;
}

.paypal-description {
  margin-bottom: 2rem;
  text-align: center;
}

/* SLIDE SHOW */

/* Stili per lo slideshow */
.slideshow {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-image 1s ease-in-out;
  opacity: 0.8;
}

/* Aggiunge un effetto di opacità alle immagini di sfondo */
.slideshow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Nero con 50% di opacità */
  z-index: 1;
}

/* Stili per il testo sovrapposto */
.text-over-image {
  z-index: 2;
  color: white;
  font-size: 2em;
  position: relative;
}

/* USER PROFILE */
.profile-container {
  font-family: "Arial", sans-serif;
}

.profile-card {
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}

.profile-name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

.profile-email {
  color: #777;
  margin-bottom: 20px;
}

.bookings-card {
  border-radius: 10px;
}

.bookings-header {
  background-color: #007bff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-actions {
  display: flex;
  gap: 10px;
}

/* Star Rating nel componete shop per le stelle di valutazione delle card */

.star-icon {
  color: #daa520;
}
